@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 20px 24px 0px 24px;
}

.gradient {
  background-image: 
    radial-gradient(at 10% 11%, rgb(32, 32, 32) 0px, transparent 50%),
    radial-gradient(at 92% 29%, rgb(37, 34, 34) 0px, transparent 70%),
    radial-gradient(at 10% 96%, rgb(17, 10, 17) 0px, transparent 90%),
    radial-gradient(at 92% 20%, rgb(0, 0, 0) 0px, transparent 80%),
    radial-gradient(at 79% 83%, rgb(19, 19, 19) 0px, transparent 50%);

}

.content {
  @apply text-center text-2xl px-40 md:px-20 leading-9
}

@media screen and (max-width:750px) {
  .content {
    @apply px-20
  }
}

@media screen and (max-width: 710px) {
  .container {
    @apply mt-[150px]
  }

}

@media screen and (max-width: 400px) {
  .container {
    @apply mt-[200px]
  }
}